$font_league_script: 'League Script', cursive;
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$img-fireplace_1: '../../assets/fireplace-1';
$img-fireplace_2: '../../assets/fireplace-2';
$img-fireplace_3: '../../assets/fireplace-3';
$img-fireplace_4: '../../assets/fireplace-4';
$section_bg_color_1: #f7f7f7;
$section_text_color: #828282;
$content_padding: 42px 30px;
$breakpoint_s: 40em;
$breakpoint_m: 64em;
